/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    /* Tirar a linha dos links*/
    text-decoration: none; 
    /* Tirar a cor dos links */
    color: inherit;
}

/* Tira a bolinha das listras */ 
ul, ol, li{
    list-style: none;
}

/*fim do reset*/
body{
    height: 100vh;
    display: flex;
    /* Deixar os objetos empilhados */
    flex-direction: column;
    padding-inline: 80px;
}
header{
    height: 200px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 96px;
    width: 96px;
    background-color: grey;
}

.menu ul{
    display: flex;
    /* Espaco entre eles*/
    gap: 32px;
    font-size: 32px;
}
main{
    flex-grow: 1;
    display: flex;
    background-color: pink;
}

.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo h1{
    font-size: 96px;

}
.conteudo p{
    width: 80%;
    font-size: 40px;
}
.acao button{
    height: 80px;
    width: 300px;
    background-color: black;
    color: white;
    font-size: 32px;
}
.social{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 96px;
    width: 96px;
    background-color: lightgray;
    border-radius: 50%;
}
.destaque{
    width: 50%
    
}

footer{
    height: 100px;
    background-color: blue;
}
